<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!-- ADD FILE TO GITIGNORE IF CONTAINING SECRETS-->
	<connectionStrings>
		<add name="contacts" connectionString="Data Source=localhost;Initial Catalog=contacts;Integrated Security=True;Encrypt=True;TrustServerCertificate=True;"/>
	</connectionStrings>
</configuration>
